
<main class="container">
    <div class="header">
      <h1 class="text-4xl mb-10 font-semibold text-blue-800 text-center">TODO LIST</h1>
    </div>
    
  <%= turbo_frame_tag "main" do %>

    <%= turbo_frame_tag "form" do %>
      <%= render "form", todo: Todo.new %>
    <% end %>

    <div>
      <%= turbo_frame_tag "todos" do %>
        <%= render @todos %>
      <% end %>
    </div>
  
  <% end %>
</main>
