<!DOCTYPE html>
<html>
  <head>
    <title>TodoApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

     <script
      src="https://kit.fontawesome.com/14dea2b7a9.js"
      crossorigin="anonymous"
    ></script>

  </head>

  <body class="m-20 items-center">
    <%= yield %>
  
  </body>
</html>
